services:
  db:
    image: postgres@sha256:78df81b1442dcc764c1104154da7162635e40cfffe67579c42a1c1b96dfc209c
    environment:
      POSTGRES_DB: scanlation_manager
      POSTGRES_USER: scanlation_manager
      POSTGRES_PASSWORD: scanlation
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
