services:
  db:
    image: postgres@sha256:ddbc320a9ad558c01c719248108e607eadde92fea799fec799028cfb2fab7319
    environment:
      POSTGRES_DB: scanlation_manager
      POSTGRES_USER: scanlation_manager
      POSTGRES_PASSWORD: scanlation
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./migrations:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
